 
  .chart-header {
    font-weight: 600;
    font-size: 1rem;
  }
  
  .dropdown-toggle {
    background: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 4px 12px;
  }
  
  .dropdown-item.active {
    color: #7367f0;
    font-weight: bold;
  }
  
  .chartjs-render-monitor {
    max-height: 300px;
  }

  