.custom-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.custom-table th, .custom-table td {
  padding: 12px;
  vertical-align: middle;
  border: 1px solid #ddd;
  color: #333;
}
.table thead th {
  color: #555;
  background-color: #eef1fd;
}
.custom-table th {
  background-color: #eef1fd;
  color: #555;
}


/* radio `accent-color` */

.radio-option{
 font-style: italic;
 font-weight: 600;
}
.radio-option input[type="radio"] {
  accent-color: #F09619;
}

.agreement-checkbox input[type="checkbox"] {
  accent-color: #F09619;
}




.custom-table td .badge {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: lowercase;
  color: #fff;
}

.badge.occupied {
  background-color: rgba(20, 184, 166, 1); /* Green */
}

.badge.vacate {
  background-color: rgba(147, 51, 234, 1); /* Purple */
}

.badge.tenant {
  background-color: rgba(236, 72, 153, 1); /* Pink */
}

.badge.owner {
  background-color: rgba(79, 70, 229, 1); /* Blue */
}

.btn {
  font-size: 12px;
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}

.edit-btn {
  background-color: #28a745;
}

.view-btn {
  background-color: #007bff;
}

/* Responsive table styles */
.table-responsive {
  width: 100%;
  overflow-x: auto;
}

@media (max-width: 768px) {
  .custom-table thead {
    display: none;

  }

  .custom-table tbody tr {
    display: block;
    margin-bottom: 15px;
  }

  .custom-table tbody td {
    display: block;
    text-align: right;
    position: relative;
    padding-left: 50%;
  }

  .custom-table tbody td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}
@media (max-width: 375px) {
.modal-dialog{
 
}
.addreidentbtn{
  width: 100px;
  text-wrap: wrap;
  
}


}
@media (max-width: 576px) {
  .modal-dialog{
   display: flex;
    justify-content: center;
  }
  
  }
